[Desktop Entry]
Version=1.0
Type=Application
Name=Break-Time
Comment=Pomodoro timer and productivity app
Exec=io.github.HuntedRaven7.BreakTime
Icon=io.github.HuntedRaven7.BreakTime
Terminal=false
Categories=Utility;
Keywords=pomodoro;timer;productivity;
StartupWMClass=io.github.HuntedRaven7.BreakTime
